#carouselExampleControls {
  width: auto;
}



.shopnowbtn h4 {
  color: black;
  font-size: 20px;
  font-weight: 800;
}


.shopbtn {
  padding: 15px;
  width: 200px;
  border-radius: 20px;
  border-color: transparent;
  background-color: #FBFBFB;
  font-weight: 700;
  font-size: 18px;
  color: black;

  left: 0;
  position: absolute;


  z-index: 20;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}
.shopbtn2{
  padding: 15px;
  width: 200px;
  border-radius: 20px;
  border-color: transparent;
  background-color: #FBFBFB;
  font-weight: 700;
  font-size: 18px;
  color: black;

  left: 0;
  position: absolute;


  z-index: 20;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}


.carousel-caption{
  margin-bottom: 15%;
  width: 100%;
}

.booktn button{
  left:0px;

}
#imageslidermedia{
  display: none;
}
#imageslider{
  display: block;
}

@media only screen and (max-width: 600px) {
 
  .shopbtn {
    display: none;
  }
  .shopbtn2{
    display: none;
  }
  #imageslidermedia{
    display: inline;
}
#imageslider{
  display:none;
}
}