.formlabel label{
    padding: 10px;
    font-size: 15px;
    font-weight: 700;
}

.button button{
    width: 250px;
    padding: 10px;
    background-color:  #F3CA6D;
    border-color: transparent;
    border-radius: 20px;
    font-weight: 700;
    font-size: 15px;
    margin-top: 20px;
}

.passwordlabel{
    font-weight: bold;
    font-size: 18px;
     color: #333;;
}