#mediafoot{
  display: none;
}

@media only screen and (max-width: 600px) {
    #mediafoot{
        display:block;
        
        background-color:#F4F7EE;
        padding: 20px;
      }
      .foottext{
        font-size: 15px;
        color:black;
        font-size: 500;
        text-align: center;
      }
      .foot{
        font-size: 15px;
        color:black;
        font-size: 500;
        text-align: center;
      }
      .foot a{
        text-decoration: none;
      }
      .instalinks{
        padding: 40px;
      }
    
}