#card10 {
    width: 500px;
    height: auto;
  margin: 20px 20px 0px 50px;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 13px;
    padding: 40px;
   
}

#paycards2{
    width:340px;
    text-align: left;
    padding: 15px;
    border-radius: 20px;
    justify-content: center;
    
}
#paycards2 h3{
    font-weight: 650;
    font-size: 18px;
}
.flexcontent4 {
    display: flex;
    justify-content: space-between;
    margin:40px 100px 40px 50px; 
    
}

.flexleft4 {
    justify-content: left;
    margin-left: 40px;
}

.headingpay h4 {
    font-size: 25px;
    padding: 20px;
    font-weight: 700;
}



.flexright0 {
    justify-content: right;
    display: block;
}

#card20 {
    width: 400px
}

#card20 {
    box-sizing: border-box;
    position: absolute;
    width: 439px;
    height: auto;
   right:120px;
  display: block;
    background: #F4F7EE;
    border: 3px solid #F4F7EE;
    border-radius: 25px;

}

.buttonpay {
    position: absolute;
    height: 50px;
    left: 571px;
    background-color: #F9C058;
    border-radius: 20px;
    border-color: transparent;
    width: 200px;
}

.totalbutton {
    width: 198px;
    height: 52px;
    background: #D9D9D9;
    border-radius: 18px;
    font-size: 15px;
    font-weight: 700;
    border-color: transparent;
}

#cardotherid {
    width: auto;
    height: auto;
    background: #F4F4F4;
    border-radius: 7px;
}

.procard button {
    width: 150px;
    height: 70px;
    border-color: transparent;
    border-radius: 20px;
}

.shiphead {
    font-size: 20px;
    font-weight: 700;

}


.paymentgatway2 {
    padding: 40px
}

.cssbtn{
     margin-left: 10px;
}

#paycontainer2{
    margin:40px 20px 20px 70px;
    justify-content: center;
    text-align: center;
    }
    .umi{
        display: none;   
    }
.flying  {
  
float: right;
transform: translateY(550px);
bottom:0px;
display: block;

}

#cardbig{
  display:inline;justify-content:space-between;
}

.bootonbutton{
  float:right;
}

.cripimg{
    display: none;
}

.cripimg img{
   display: none; 
}
.kiu img{
    display: none;
 }
 #Mediadb{
    display: none;
}
#lomnk{
    display: none;
}

.formobile{
    display: none
}
@media only screen and (max-width: 600px) {

    #lomnk{
        display: block;
    }
    .formobile{
        display: block;
    }

    .cripimg{
        display: block;
    }

    #Mediadb{
        display: block;
    }
    .cripimg img{
        display: block; 
     }

     .kiu img{
        display: none;
        justify-content: right;
        display: block;
     }

     

    .umi{
        display: block;   
    }

    .umi img{
        display: block; 
        justify-content: left;  
    }

    #carflok{
        width:150px;
        justify-content: center;
        padding: 20px;
    }

    .cripimg img{
justify-content: right;
    }
  
    #cardbig{
        display:inline;justify-content:center;
      }
      .bootonbutton{
        float:center;
      }
    .flying  {
  
        display: none;
        
        }
        #paycontainer2{
            margin:10px 10px 10px 0px;
            justify-content: center;
            text-align: center;
            }

        .procard button {
            width: 150px;
            height: 70px;
            border-color: transparent;
            border-radius: 20px;
        }
        
       
        
        #card20 {
          display: none;
         
        }
        #cardflow{
            background: #F4F7EE;
            border: 3px solid #F4F7EE;
            border-radius: 25px;
            text-align: center; 
            width: 300px;
            
        }
        .headingpay{
            justify-content: center;
            text-align: center;
        }
        

        .flexcontent4{
            justify-content: center;
            display: inline;
        }
        .flexleft4{
            justify-content: center;
        }

        .flexright0{
            justify-content: center;
       

            
        }
        #card10 {
            width: auto;
            height: auto;
            margin:40px 40px 40px 40px;
            box-sizing: border-box;
            background: #FFFFFF;
            border-radius: 13px;
            padding: 20px;
           
        }

        #card50{
           
           width: auto;
            height: auto;
         
        
            background: #F4F7EE;
            border: 3px solid #F4F7EE;
            border-radius: 25px;
        
        }
        .cssbtn{
            justify-content: center;
            text-align: center;
            margin: 0px;
        }
        #paycards2{
            width:auto;
        }
     
    
            .paymentgatway2 {
                padding: 20px
            }
}


@media(max-width: 320px){ 
    #card50{
       width:180px
     }
     #cardbig img{
        width:200px;
        width: 200px;
     }
     #cardbig{
        display:inline;justify-content:center;
      }
      #cardbig{
       width: 230px;
      }
      .subtext{
        color:black;
        font-size:20px ;
        font-style: bolder;  
    }
    .headingpay h4{
        justify-content: center;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
    }
    #card10 {
        width: auto;
        height: auto;
        margin:20px 20px 20px 20px;
        box-sizing: border-box;
        background: #FFFFFF;
        border-radius: 13px;
        padding: 15px;
        text-align: left;
       
    }
    .formobile{
        display: block;
    }
    #paycontainer2{
        margin:10px 10px 10px 10px;
        justify-content: center;
        text-align: center;
        }
        #paycards2{
            width:200px;
            text-align: left;
            padding: 15px;
            border-radius: 20px;
            
        }
        #paycards2 h3{
            font-size: 15px;
            font-weight: 650;
            
        }
        .totalbutton {
            width: 160px;
            height: 52px;
            background: #D9D9D9;
            border-radius: 18px;
            font-size: 15px;
            font-weight: 700;
            border-color: transparent;
        }
        .paymentgatway2 {
            padding: 20px
        }
        #card50{
           
            width: auto;
             height: auto;
          
         
             background: #F4F7EE;
             border: 3px solid #F4F7EE;
             border-radius: 25px;
         
         }
}

@media only screen and (min-width: 650px) and (max-width:912px){
      #lomnk{
            display: block;
        }
        .formobile{
            display: block;
        }
    
        .cripimg{
            display: block;
        }
    
        #Mediadb{
            display: block;
        }
        .cripimg img{
            display: block; 
         }
    
         .kiu img{
            display: none;
            justify-content: right;
            display: block;
         }
    
         
    
        .umi{
            display: block;   
        }
    
        .umi img{
            display: block; 
            justify-content: left;  
        }
    
        #carflok{
            width:150px;
            justify-content: center;
            padding: 20px;
        }
    
        .cripimg img{
    justify-content: right;
        }
      
        #cardbig{
            display:inline;justify-content:center;
          }
          .bootonbutton{
            float:center;
          }
        .flying  {
      
            display: none;
            
            }
            #paycontainer2{
                margin:10px 10px 10px 0px;
                justify-content: center;
                text-align: center;
                }
    
            .procard button {
                width: 150px;
                height: 70px;
                border-color: transparent;
                border-radius: 20px;
            }
            
           
            
            #card20 {
              display: none;
             
            }
            #cardflow{
                background: #F4F7EE;
                border: 3px solid #F4F7EE;
                border-radius: 25px;
                text-align: center; 
                width: 300px;
                
            }
            .headingpay{
                justify-content: center;
                text-align: center;
            }
            
    
            .flexcontent4{
                justify-content: center;
                display: inline;
            }
            .flexleft4{
                justify-content: center;
            }
    
            .flexright0{
                justify-content: center;
           
    
                
            }
            #card10 {
                width: auto;
                height: auto;
                margin:40px 40px 40px 40px;
                box-sizing: border-box;
                background: #FFFFFF;
                border-radius: 13px;
                padding: 40px;
               
            }
    
            #card50{
               
               width: auto;
                height: auto;
             
            
                background: #F4F7EE;
                border: 3px solid #F4F7EE;
                border-radius: 25px;
            
            }
            .cssbtn{
                justify-content: center;
                text-align: center;
                margin: 0px;
            }
            #paycards2{
                width:auto;
            }
         
        
                .paymentgatway2 {
                    padding: 20px
                }
       
}